"tweet","tweet_created_at","tweer_source","tweet_maybe_bot",tweet_type","tweet_like_count","tweet_retweet_count","tweet_is_possibly_sensitive","tweet_reply_settings","tweet_lat","tweet_lng","tweet_placeId","user_id","user_name","user_bio","user_url","user_is_erified","user_is_protected","user_created_at","user_tweet_count","user_following_count","user_followers_count","user_listed_count"